<footer class="footer text-white pt-5 pb-4" style="background-color: #997b5c;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <img src="/images/LEDGRCTRLLogo.png" alt="LedgerCtrl" height="40" class="mb-3">
                <p>LedgerCtrl provides comprehensive ERP solutions to help businesses streamline operations and improve efficiency.</p>
                <div class="social-icons mt-3">
                    <a href="#" class="text-white mr-3"><i class="fa fa-facebook-f"></i></a>
                    <a href="#" class="text-white mr-3"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="text-white mr-3"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="text-white"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-4">
                <h5>Solutions</h5>
                <ul class="list-unstyled">
                    <li><a href="/solutions/accounting" class="text-white">Accounting</a></li>
                    <li><a href="/solutions/inventory" class="text-white">Inventory</a></li>
                    <li><a href="/solutions/hr-payroll" class="text-white">HR & Payroll</a></li>
                    <li><a href="/solutions/crm" class="text-white">CRM</a></li>
                    <li><a href="/solutions/project-management" class="text-white">Project Management</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="/about" class="text-white">About Us</a></li>
                    <li><a href="/careers" class="text-white">Careers</a></li>
                    <li><a href="/blog" class="text-white">Blog</a></li>
                    <li><a href="/press" class="text-white">Press</a></li>
                    <li><a href="/partners" class="text-white">Partners</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 mb-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker-alt mr-2"></i>Nairobi Garage - Ngong Road PQ2V+M5C, Kamburu Dr <br>Nairobi</li>
                    <li><i class="fa fa-phone mr-2"></i> +254 795-757 -500</li>
                    <li><i class="fa fa-phone mr-2"></i> +254 702 -812 -065</li>
                    <li><i class="fa fa-envelope mr-2"></i> admin@ledgerctrl.com</li>
                </ul>
                <h5 class="mt-4">Newsletter</h5>
                <form class="newsletter-form">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Your Email" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                <p class="mb-0">&copy; 2025 LedgerCtrl. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="/privacy" class="text-white">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="/terms" class="text-white">Terms of Service</a></li>
                    <li class="list-inline-item"><a href="/sitemap" class="text-white">Sitemap</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>